---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
<div class="wordwrap">
  You can also explore my research articles on <a href="{{site.author.googlescholar}}" target="_blank">Google Scholar</a>.
</div>
{% endif %}

{% include base_path %}

<hr />

<!-- Publications Section -->
<ul>
  <li>
    <strong>Selective Colorimetric Sensing of Histidine in Aqueous Media via Ag Nanotriangles in the Presence of HgCl<sub>2</sub></strong><br>
    <em>N. Namazi, D. Haghshenas, S. Firoozi, M. Hassanzadeh</em><br>
    <span><em>Spectrochimica Acta Part A: Molecular and Biomolecular Spectroscopy</em>, August 2024</span><br>
    <a href="https://doi.org/10.1016/j.saa.2024.125072" target="_blank">DOI: 10.1016/j.saa.2024.125072</a>
  </li>
  <li>
    <strong>A Machine Learning Approach for Modelling L-Histidine Detection by Plasmonic Ag Nanoparticles Based on UV-Vis Spectrophotometry</strong><br>
    <em>M. Hassanzadeh, D. Haghshenas, S. Firoozi</em><br>
    <span><em>Status:</em> Under Preparation</span>
  </li>
</ul>
